In [ ]:
import spacy

In [ ]:
nlp = spacy.load('en_core_web_sm')

In [ ]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [ ]:
text = nlp("Tesla inc is going to acquire twitter for 45$ billion")

for ent in text.ents:
    print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Tesla inc | ORG | Companies, agencies, institutions, etc.
45$ billion | MONEY | Monetary values, including unit

In [ ]:
text = nlp("My name is Chinmay. I’m planning a long road trip to the Himalayas, and for that, I’ve rented a Royal Enfield motorcycle. The rental cost is approximately $10,000")

for ent in text.ents:
    print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Chinmay | ORG | Companies, agencies, institutions, etc.
Royal Enfield | ORG | Companies, agencies, institutions, etc.
approximately $10,000 | MONEY | Monetary values, including unit

In [ ]:
text = nlp("My name is Chinmay. I’m planning a long road trip to the Himalayas, and for that, I’ve rented a Royal Enfield motorcycle. The rental cost is approximately 10,000")

for ent in text.ents:
    print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Chinmay | ORG | Companies, agencies, institutions, etc.
Royal Enfield | ORG | Companies, agencies, institutions, etc.
approximately 10,000 | CARDINAL | Numerals that do not fall under another type

In [ ]:
text = nlp("My name is Chinmay. I’m planning a long road trip to the Himalayas, and for that, I’ve rented a Royal Enfield motorcycle. The rental cost is 10,000 rupees")

for ent in text.ents:
    print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Chinmay | ORG | Companies, agencies, institutions, etc.
Royal Enfield | ORG | Companies, agencies, institutions, etc.
10,000 | CARDINAL | Numerals that do not fall under another type

In [ ]:
from spacy import displacy

displacy.render(text, style="ent")

In [ ]:
text = "Elon musk runs an organization named NVIDIA"

# Process the text with the nlp model
doc = nlp(text)

from spacy import displacy

# Render the processed Doc object
displacy.render(doc, style="ent")

/usr/local/lib/python3.12/dist-packages/spacy/displacy/__init__.py:213: UserWarning: [W006] No entities to visualize found in Doc object. If this is surprising to you, make sure the Doc was processed using a model that supports named entity recognition, and check the `doc.ents` property manually if necessary.
  warnings.warn(Warnings.W006)

In [ ]:
nlp.pipe_labels['ner'] #entity tags list

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

**own entity tags**

In [ ]:
doc = nlp("Tesla is going to acquire Twitter for $45 billion")

for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Tesla  |  ORG  |  Companies, agencies, institutions, etc.
Twitter  |  PERSON  |  People, including fictional
$45 billion  |  MONEY  |  Monetary values, including unit

In [ ]:
s = doc[2:5]
s

going to acquire

In [ ]:
type(s)

spacy.tokens.span.Span

In [ ]:
from spacy.tokens import Span

s1 = Span(doc, 0, 1, label="ORG")
s2 = Span(doc, 8, 9, label="ORG")

doc.set_ents([s1, s2], default="unmodified")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Tesla  |  ORG  |  Companies, agencies, institutions, etc.
Twitter  |  ORG  |  Companies, agencies, institutions, etc.
$  |  MONEY  |  Monetary values, including unit
45  |  ORG  |  Companies, agencies, institutions, etc.
billion  |  MONEY  |  Monetary values, including unit